page-info-previsao {

    .modalSheet{
        height: auto;
        width: 100%;
        position: fixed;
        bottom: 0px;
        background-color: white;
    }

    .scroll-content{
        margin-top: 0 !important;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    ion-content{
        background-color: transparent;
    }

    .fundo{
        background: linear-gradient(rgba(5,20,57,0), rgba(3,17,52,0.748));
    }

    .clickBranco{
        height: 100%;
        width: 100%;
    }

}
